body {
    margin: 0;
    padding: 5vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

#gridPromptButton {
    width: 50vw;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.firstGrid {
    width: 5.625vw;
    height: 5.625vw;
    border: solid 0.1px;
    display: flex;
    box-sizing: border-box;
}

.firstGridHover {
    background-color: pink;
}